<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realtimeweatherlocationtrafficsystem">

    <!-- PERMISSIONS FOR LOCATION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- PERMISSIONS FOR BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission android:name="android.permission.BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- PERMISSIONS FOR SERVICES -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- PERMISSIONS FOR GOOGLE MAPS -->
    <permission
        android:name="com.pkg.map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- SERVICES -->
        <service android:name=".services.BluetoothService" />
        <service android:name=".services.FireBaseService" />
        <service android:name=".services.LocationService" />

        <!-- RECEIVERS OF BROADCASTS -->
        <receiver android:name=".models.BluetoothReceiveReply" />

        <!-- Google Maps -->
        <!-- The Google Maps API key will be inserted automatically.
            You have to change the API key in local.properties file.
            Another API key must be changed in google-services.json.
         -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />

        <activity
            android:name=".TerminalActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoogleMapsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>